<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
<!-- start import styles -->
  <!-- import bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- import css --> 
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
<!-- end import styles -->

<!-- start import libraries -->
  <!-- import chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- import plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- import d3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
<!-- end import libraries -->

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2 class="display-4">United States Population Data</h2>
        <h4>(1950-2015)</h4>
        <hr class="my-4">
        <p>Explore the dataset below</p>
      </div>
    </div>

    <!-- start plot divs-->
    <div class="row">
      <hr class="my-4">
      <h3>Age Distribution by Sex</h3>
      <hr class="my-4">
      <h4>Year:</h4>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
      <div id="pop-pyramid"></div>
    </div>

    <div class="row">
      <hr class="my-4">
      <h3>Age Structure</h3>
      <hr class="my-4">
      <div class="col-md-12">
        <div id="age-stacked-area"></div>
      </div>
    </div>
    
    <div class="row">
      <hr class="my-4">
      <h3>Sex Ratio by Age</h3>
      <hr class="my-4">
      <div class="col-md-12">
        <div id="sex-ratio-scatterplot"></div>
      </div>
    </div>

    <div class="row">
      <hr class="my-4">
      <h3>Data Sources</h3>
      <hr class="my-4">
      <div class="col-md-12">
        <p>We decided our broad topic to be US population over time. We chose this because of the abundant availability of a variety of measures. We ultimately used data from the United Nations and Our World In Data. Specifically, we used three data sets - one that shows the ratio of male births as measured per 100 female births over time, the size of three broad age groups over time, and the population counts by age group for males and females over time.<p/>
      </div>
    </div>
  </div>
    <!-- end plot divs -->

  <!-- import javascript code -->
  <!-- <script type="text/javascript" src="static/js/app.js"></script> -->
  <script type="text/javascript" src="static/js/stacked.js"></script>
  <script type="text/javascript" src="static/js/sex_ratio_plot.js"></script>
  <script type="text/javascript" src="static/js/pop_pyramid.js"></script>
</body>

</html>